/*Header*/
.top-nav {
  display: flex;
  flex-wrap: wrap;
  min-width: 100%;
  background-color: var(--secondary-color);
  color: var(--sec-text);
  padding: 0.8rem;
}

.nav-right {
  margin-left: auto;
}

/* navigation */
.navigation {
  display: flex;
  font-family: system-ui;
}

.navigation .nav-brand {
  font-weight: bold;
  font-size: 1.1rem;
  color: var(--sec-text);
}

.navigation .link {
  color: var(--sec-text);
}

.right {
  text-align: right;
}

.navigation .link-active {
  font-weight: bold;
}

/* hero*/

.sec-hero {
  display: flex;
  padding: 2rem;
  gap: 5px;
  margin: auto;
}

.sec-hero .hero-img {
  max-width: 350px;
  display: block;
  margin: auto;
}

.sec-hero .hero-heading {
  text-align: left;
  padding-top: 1rem;
}

.sec-hero .content-box {
  max-width: 550px;
}

.sec-hero .hero-heading .header-inverted {
  color: var(--primary-color);
}

/* section */

.section {
  padding: 2rem;
  text-align: center;
}

.section h1 {
  text-align: center;
}

.ow {
  background-color: var(--off-white);
}

/* footer */

.footer {
  background-color: var(--dark-color);
  padding: 2rem 1rem;
  text-align: center;
  color: white;
}

.footer .link {
  color: white;
}

.footer ul {
  padding-inline-start: 0px;
}

.row {
  display: flex;
  flex-flow: wrap;
}

.home-wrapper {
  display: flex;
  height: 80vh;
}
.btn-box {
  padding: 10px 0;
}
.primary-link {
  background-color: var(--primary-color);
  color: #fff;
  padding: 10px;
  font-size: 16px;
  border-radius: 30px;
}
.secondary-link {
  padding: 10px;
  font-size: 16px;
  color: var(--primary-color);
  font-weight: 500;
}
