.input {
  display: inline-block;
  vertical-align: middle;
  border: 1px solid transparent;
  padding: 5px 10px;
  font-size: 1rem;
  border-radius: 2rem;
}
.input:focus {
  outline: none;
}
.input-primary {
  border: 1px solid var(--primary-color);
}
.input-secondary {
  border: 1px solid var(--secondary-color);
}
.input-success {
  border: 1px solid var(--success);
}
.input-danger {
  border: 1px solid var(--danger);
}
.input-info {
  border: 1px solid var(--info);
}
