/*avatar styles*/
.avatar-round {
  border-radius: 50%;
}
.avatar-square {
  border-radius: 25%;
}
.avatar-name {
  border-radius: 50%;
  border: 1px solid var(--black);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
}

/*avatar sizes*/
.avatar-lg {
  width: 10rem;
  height: 10rem;
}
.avatar-md {
  width: 7rem;
  height: 7rem;
}
.avatar-sm {
  width: 5rem;
  height: 5rem;
}
.avatar-xsm {
  width: 3rem;
  height: 3rem;
}

/*avatar font sizes*/
.text-lg {
  font-size: 3.2rem;
}
.text-md {
  font-size: 2.4rem;
}
.text-sm {
  font-size: 1.6rem;
}
.text-xsm {
  font-size: 0.8rem;
}
