<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../../docs/css/index.css" />
    <link rel="stylesheet" href="./avatar.css" />
    <style>
      .wrapper {
        display: flex;
        flex-direction: column;
      }
      .avatar-container {
        display: flex;
      }
    </style>
  </head>
  <body>
    <div class="avatar-wrapper wrapper">
      <h1>Avatar</h1>
      <p class="">
        The Avatar component is used to represent a user, and displays the
        profile picture, initials or fallback icon.
      </p>
      <div>
        <h2>Round Avatar</h2>
        <ul class="list-non-bullet avatar-container">
          <li class="list-item-inline">
            <img
              class="avatar-round avatar-xsm"
              src="https://bit.ly/dan-abramov"
              alt=""
            />
          </li>
          <li class="list-item-inline">
            <img
              class="avatar-round avatar-sm"
              src="https://bit.ly/dan-abramov"
              alt=""
            />
          </li>
          <li class="list-item-inline">
            <img
              class="avatar-round avatar-md"
              src="https://bit.ly/dan-abramov"
              alt=""
            />
          </li>
          <li class="list-item-inline">
            <img
              class="avatar-round avatar-lg"
              src="https://bit.ly/dan-abramov"
              alt=""
            />
          </li>
        </ul>
      </div>
      <div>
        <h2>Squared Avatar</h2>
        <ul class="list-non-bullet avatar-container">
          <li class="list-item-inline">
            <img
              class="avatar-square avatar-xsm"
              src="https://bit.ly/dan-abramov"
              alt=""
            />
          </li>
          <li class="list-item-inline">
            <img
              class="avatar-square avatar-sm"
              src="https://bit.ly/dan-abramov"
              alt=""
            />
          </li>
          <li class="list-item-inline">
            <img
              class="avatar-square avatar-md"
              src="https://bit.ly/dan-abramov"
              alt=""
            />
          </li>
          <li class="list-item-inline">
            <img
              class="avatar-square avatar-lg"
              src="https://bit.ly/dan-abramov"
              alt=""
            />
          </li>
        </ul>
      </div>
      <div>
        <h2>Text Avatar</h2>
        <ul class="list-non-bullet avatar-container">
          <li class="list-item-inline">
            <div class="avatar-name avatar-xsm text-xsm">Avatar</div>
          </li>
          <li class="list-item-inline">
            <div class="avatar-name avatar-sm text-sm">Avatar</div>
          </li>
          <li class="list-item-inline">
            <div class="avatar-name avatar-md text-md">Avatar</div>
          </li>
          <li class="list-item-inline">
            <div class="avatar-name avatar-lg text-lg">Avatar</div>
          </li>
        </ul>
      </div>
    </div>
  </body>
</html>
