.alert-container {
  box-shadow: 0 0 1px rgb(0 0 0 / 10%), 0 2px 6px rgb(0 0 0 / 10%);
  padding: 10px;
  max-width: 30rem;
}

.alert {
  padding: 1rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: 5px;
}
.alert-primary {
  color: var(--primary);
  background-color: var(--primary-light-color);
}
.alert-secondary {
  color: var(--secondary);
  background-color: var(--secondary-light-color);
}
.alert-success {
  color: var(--success);
  background-color: var(--success-light-color);
}
.alert-danger {
  color: var(--danger);
  background-color: var(--danger-light-color);
}
.alert-warning {
  color: var(--warning);
  background-color: var(--warning-light-color);
}
.alert-info {
  color: var(--info);
  background-color: var(--info-light-color);
}
