.btn {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid transparent;
  padding: var(--size-2xs) var(--size-sm);
  font-size: var(--size-sm);
  border-radius: var(--size-lg);
}
.btn-primary {
  background-color: var(--primary-color);
  color: var(--white);
}
.btn-secondary {
  background-color: var(--secondary-color);
  color: var(--white);
}
.btn-success {
  background-color: var(--success);
  color: var(--white);
}
.btn-danger {
  background-color: var(--danger);
  color: var(--white);
}
.btn.btn-lg {
  font-size: var(--size-sm);
  padding: var(--size-xs) var(--size-base);
  min-width: 8rem;
}
.btn.btn-sm {
  padding: 2px 6px;
  font-size: var(--size-sm);
}
.btn-link {
  color: var(--primary-color);
  text-decoration: underline;
}
.btn-icon {
  color: var(--primary-color);
}
.btn-fab {
  background-color: var(--primary-color);
  color: var(--white);
  border-radius: 50%;
  padding: var(--size-sm);
}
