<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cards | Sapota UI</title>
    <link rel="stylesheet" href="../../docs/css/index.css" />
    <link rel="stylesheet" href="./cards.css" />
</head>
<body>        
        <main class="card-wrapper">
            <h2>Cards</h2>
            <p>A card is a flexible and extensible content container. It includes options for headers and footers, a wide variety of content, contextual background colors, and powerful display options.</p>
            <!-- basic card -->
            <div class="card-container">
                <img class="card-img-top" src="https://picsum.photos/600/400" alt="card-img">
                <div class="card-info">
                    <h3 class="card-title">Our Changing Planet</h3>
                    <p class="card-author">by kurt Wagner</p>
                </div>
                <div class="card-body">
                    <p class="description">Visit ten places on our planet that are undergoing the biggest changes today.
                    </p>
                </div>
                <div class="card-action">
                    <button class="action-btn">READ</button>
                    <button class="action-btn">BOOKMARK</button>
                    <button class="action-icon"><i class='fa fa-heart'></i></button>
                    <button class="action-icon"><i class="fa fa-share-alt" aria-hidden="true"></i>
                    </button>
                    <button class="action-icon"><i class="fas fa-ellipsis-v"></i></button>
                </div>
            </div>

            <!-- basic card w/ badge-->
            <div class="card-container">
                <img class="card-img-top" src="https://picsum.photos/600/400" alt="card-img">
                <span class="badge-card">Special offer</span>
                <div class="card-info">
                    <h3 class="card-title">Our Changing Planet</h3>
                    <p class="card-author">by kurt Wagner</p>
                </div>
                <div class="card-body">
                    <p class="description">Visit ten places on our planet that are undergoing the biggest changes today.
                    </p>
                </div>
                <div class="card-action">
                    <button class="action-btn">READ</button>
                    <button class="action-btn">BOOKMARK</button>
                    <button class="action-icon"><i class='fa fa-heart'></i></button>
                    <button class="action-icon"><i class="fa fa-share-alt" aria-hidden="true"></i>
                    </button>
                    <button class="action-icon"><i class="fas fa-ellipsis-v"></i></button>
                </div>
            </div>

            <!-- basic card w/ dismiss-->
            <div class="card-container">
                <img class="card-img-top" src="https://picsum.photos/600/400" alt="card-img">
                <span class="card-dismiss"><i class="fas fa-times"></i></span>
                <div class="card-info">
                    <h3 class="card-title">Our Changing Planet</h3>
                    <p class="card-author">by kurt Wagner</p>
                </div>
                <div class="card-body">
                    <p class="description">Visit ten places on our planet that are undergoing the biggest changes today.
                    </p>
                </div>
                <div class="card-action">
                    <button class="action-btn">READ</button>
                    <button class="action-btn">BOOKMARK</button>
                    <button class="action-icon"><i class='fa fa-heart'></i></button>
                    <button class="action-icon"><i class="fa fa-share-alt" aria-hidden="true"></i>
                    </button>
                    <button class="action-icon"><i class="fas fa-ellipsis-v"></i></button>
                </div>
            </div>

            <!--Basic W/ Text over Media-->
            <div class="card-container">
                <div class="img-info-container">
                    <img class="card-img-top" src="https://picsum.photos/600/400" alt="card-img">
                    <div class="card-info text-over-img">
                        <h3 class="card-title">Our Changing Planet</h3>
                        <p class="card-author">by kurt Wagner</p>
                    </div>
                </div>
                <div class="card-body body-after-img">
                    <p class="description">Visit ten places on our planet that are undergoing the biggest changes today.
                    </p>
                </div>
                <div class="card-action">
                    <button class="action-btn">READ</button>
                    <button class="action-btn">BOOKMARK</button>
                    <button class="action-icon"><i class='fa fa-heart'></i></button>
                    <button class="action-icon"><i class="fa fa-share-alt" aria-hidden="true"></i>
                    </button>
                    <button class="action-icon"><i class="fas fa-ellipsis-v"></i></button>
                </div>
            </div>

            <!-- text only card-->
            <div class="card-container">
                <div class="card-info">
                    <h3 class="card-title">Our Changing Planet</h3>
                    <p class="card-author">by kurt Wagner</p>
                </div>
                <div class="card-body">
                    <p class="description">Visit ten places on our planet that are undergoing the biggest changes today.
                    </p>
                </div>
                <div class="card-action">
                    <button class="action-btn">READ</button>
                    <button class="action-btn">BOOKMARK</button>
                    <button class="action-icon"><i class='fa fa-heart'></i></button>
                    <button class="action-icon"><i class="fa fa-share-alt" aria-hidden="true"></i>
                    </button>
                    <button class="action-icon"><i class="fas fa-ellipsis-v"></i></button>
                </div>
            </div>

            <!--Basic W/ Header-->
            <div class="card-container with-header">
                <img class="card-img-top" src="https://picsum.photos/600/400" alt="card-img">
                <div class="card-info">
                    <h3 class="card-title">Our Changing Planet</h3>
                    <p class="card-author">by kurt Wagner</p>
                </div>
                <div class="card-body body-after-img">
                    <p class="description">Visit ten places on our planet that are undergoing the biggest changes today.
                    </p>
                </div>
                <div class="card-action">
                    <button class="action-btn">READ</button>
                    <button class="action-btn">BOOKMARK</button>
                    <button class="action-icon"><i class='fa fa-heart'></i></button>
                    <button class="action-icon"><i class="fa fa-share-alt" aria-hidden="true"></i></button>
                    <button class="action-icon"><i class="fas fa-ellipsis-v"></i></button>
                </div>
            </div>

            <!-- Horizontal image and Text -->
            <div class="card-container">
                <div class="card-part-1">
                    <img class="card-img-top" src="https://picsum.photos/600/400" alt="card-img">
                    <div class="card-info">
                        <h3 class="card-title">Our Changing Planet</h3>
                        <p class="card-author">by kurt Wagner</p>
                    </div>
                </div>
                <div class="card-action">
                    <button class="action-btn">READ</button>
                    <button class="action-btn">BOOKMARK</button>
                    <button class="action-icon"><i class='fa fa-heart'></i></button>
                    <button class="action-icon"><i class="fa fa-share-alt" aria-hidden="true"></i>
                    </button>
                    <button class="action-icon"><i class="fas fa-ellipsis-v"></i></button>
                </div>
            </div>
        </main>
</body>
</html>