:root {
  --primary-color: #0f62fe;
  --secondary-color: #d4d4d4;
  --background-color: #f4f4f4;
  --complementry-color: #525252;
  --dark-color: #262626;

  --primary-text: #000000;
  --sec-text: #2f2e41;

  --black: #000000;
  --white: #ffffff;

  --success: #28a745;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;

  --primary-light-color: #cfe2ff;
  --secondary-light-color: #d0c5c5;
  --success-light-color: #d1e7dd;
  --danger-light-color: #f8d7da;
  --warning-light-color: #fff385;
  --info-light-color: #cff4fc;
}
