* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
}
button {
  background-color: unset;
  border: unset;
  color: unset;
}
img {
  max-width: 100%;
  height: auto;
}

h1,
.h1 {
  font-size: var(--size-xl);
  margin: var(--size-sm) 0;
}
h2,
.h1 {
  font-size: var(--size-lg);
  margin: var(--size-sm) 0;
}
h3,
.h3 {
  font-size: var(--size-base);
  margin: var(--size-sm) 0;
}
h4,
.h4 {
  font-size: var(--size-sm);
  margin: var(--size-sm) 0;
}

h5,
.h5 {
  font-size: var(--size-xs);
  margin: var(--size-sm) 0;
}
p {
  margin: 5px 0;
}
.p-lg {
  font-size: var(--size-base);
}
.p-md {
  font-size: var(--size-sm);
}
.p-sm {
  font-size: var(--size-xs);
}

.text-wt-light {
  font-weight: var(--font-wt-light);
}
.text-wt-medium {
  font-weight: var(--font-wt-medium);
}
.text-wt-bold {
  font-weight: var(--font-wt-bold);
}
