/*links*/
.primary-link {
  background-color: var(--primary-color);
  color: var(--white);
  padding: var(--size-sm) var(--size-base);
  font-size: var(--size-base);
  border-radius: var(--size-xl);
}
.secondary-link {
  padding: var(--size-sm) var(--size-base);
  font-size: var(--size-base);
  color: var(--primary-color);
  font-weight: var(--font-wt-medium);
  border: 1px solid var(--primary-color);
  border-radius: var(--size-xl);
}

/*lists*/
.list-non-bullet {
  list-style: none;
}
.list-item-inline {
  display: inline;
  padding: 0rem var(--size-lg);
}

.list-item-block {
  display: block;
}

/*padding*/
.pd-side-sm {
  padding: 0rem 0.5rem;
}

.hidden {
  content-visibility: hidden;
}
.hide {
  display: none;
}
.box-shadow {
  box-shadow: 0px 0px 10px 4px rgb(0 0 0 / 5%);
}
.box-shadow-dk {
  box-shadow: 0px 0px 10px 4px rgb(0 0 0 / 15%);
}

.gap-1 {
  gap: var(--size-sm);
}
.gap-2 {
  gap: var(--size-lg);
}
/*font size*/
.txt-xs {
  font-size: var(--size-xs);
}
.txt-sm {
  font-size: var(--size-sm);
}
.txt-base {
  font-size: var(--size-base);
}
.txt-md {
  font-size: var(--size-md);
}
.txt-lg {
  font-size: var(--size-lg);
}
.txt-xl {
  font-size: var(--size-xl);
}
/*font weight*/
.txt-light {
  font-weight: var(--font-wt-light);
}
.txt-rg {
  font-weight: var(--font-wt-normal);
}
.txt-md {
  font-weight: var(--font-wt-medium);
}
.txt-bold {
  font-weight: var(--font-wt-bold);
}
.txt-bolder {
  font-weight: var(--font-wt-bolder);
}
/*padding*/
.pd-x-xs {
  padding-left: var(--size-xs);
  padding-right: var(--size-xs);
}
.pd-y-xs {
  padding-top: var(--size-xs);
  padding-bottom: var(--size-xs);
}
.pd-x-sm {
  padding-left: var(--size-sm);
  padding-right: var(--size-sm);
}
.pd-y-sm {
  padding-top: var(--size-sm);
  padding-bottom: var(--size-sm);
}
.pd-x-base {
  padding-left: var(--size-base);
  padding-right: var(--size-base);
}
.pd-y-base {
  padding-top: var(--size-base);
  padding-bottom: var(--size-base);
}
.pd-x-md {
  padding-left: var(--size-md);
  padding-right: var(--size-md);
}
.pd-y-md {
  padding-top: var(--size-md);
  padding-bottom: var(--size-md);
}
.pd-x-lg {
  padding-left: var(--size-lg);
  padding-right: var(--size-lg);
}
.pd-y-lg {
  padding-top: var(--size-lg);
  padding-bottom: var(--size-lg);
}
.pd-x-xl {
  padding-left: var(--size-xl);
  padding-right: var(--size-xl);
}
.pd-y-xl {
  padding-top: var(--size-xl);
  padding-bottom: var(--size-xl);
}
/*margin*/
.mg-x-xs {
  margin-left: var(--size-xs);
  margin-right: var(--size-xs);
}
.mg-y-xs {
  margin-top: var(--size-xs);
  margin-bottom: var(--size-xs);
}
.mg-x-sm {
  margin-left: var(--size-sm);
  margin-right: var(--size-sm);
}
.mg-y-sm {
  margin-top: var(--size-sm);
  margin-bottom: var(--size-sm);
}
.mg-x-base {
  margin-left: var(--size-base);
  margin-right: var(--size-base);
}
.mg-y-base {
  margin-top: var(--size-base);
  margin-bottom: var(--size-base);
}
.mg-x-md {
  margin-left: var(--size-md);
  margin-right: var(--size-md);
}
.mg-y-md {
  margin-top: var(--size-md);
  margin-bottom: var(--size-md);
}
.mg-x-lg {
  margin-left: var(--size-lg);
  margin-right: var(--size-lg);
}
.mg-y-lg {
  margin-top: var(--size-lg);
  margin-bottom: var(--size-lg);
}
.mg-x-xl {
  margin-left: var(--size-xl);
  margin-right: var(--size-xl);
}
.mg-y-xl {
  margin-top: var(--size-xl);
  margin-bottom: var(--size-xl);
}
.mg-x-auto {
  margin: 0 auto;
}
.mg-left-auto {
  margin: 0 auto;
}
.mg-right-auto {
  margin: 0 auto;
}
/*flex*/
.flex-row {
  display: flex;
  flex-direction: row;
}
.flex-row-reverse {
  display: flex;
  flex-direction: row-reverse;
}
