/*links*/
.primary-link {
  background-color: var(--primary-color);
  color: var(--white);
  padding: 10px 16px;
  font-size: 16px;
  border-radius: 3rem;
}
.secondary-link {
  padding: 10px 16px;
  font-size: 16px;
  color: var(--primary-color);
  font-weight: 500;
  border: 1px solid var(--primary-color);
  border-radius: 3rem;
}

/*lists*/
.list-non-bullet {
  list-style: none;
}
.list-item-inline {
  display: inline;
  padding: 0rem 2rem;
}

.list-item-block {
  display: block;
}

/*padding*/
.pd-side-sm {
  padding: 0rem 0.5rem;
}

.hidden {
  content-visibility: hidden;
}
.hide {
  display: none;
}
.box-shadow {
  box-shadow: 0px 0px 10px 4px rgb(0 0 0 / 5%);
}
.box-shadow-dk {
  box-shadow: 0px 0px 10px 4px rgb(0 0 0 / 15%);
}

.gap-1 {
  gap: 1rem;
}
.gap-2 {
  gap: 2rem;
}
