<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sapota UI | Input</title>
    <link rel="stylesheet" href="../../docs/css/index.css" />
    <link rel="stylesheet" href="./nav.css" />
  </head>
  <body>
    <div class="top-nav box-shadow">
      <nav class="navigation">
        <div class="nav-col nv-col-1">
          <div class="nav-brand">BRAND</div>

          <ul class="list-non-bullets nav-right">
            <li class="list-item-inline">
              <a class="link" href="">Wishlist</a>
            </li>
            <li class="list-item-inline">
              <a class="link" href="">Bag</a>
            </li>
          </ul>
        </div>
        <div class="nav-col nv-col-2">
          <input
            type="search"
            class="input input-search input-primary"
            id="gsearch"
            name="gsearch"
          />
          <button class="btn btn-primary" type="submit">
            <i class="fas fa-search" title="search"></i>
          </button>
        </div>
      </nav>
    </div>
  </body>
</html>
