<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../docs/css/index.css" />
    <link rel="stylesheet" href="./alert.css" />
</head>
<body>
    <div class=" wrapper alert-wrapper">
        <h2>Alert</h2>
        <p class="desc">Alerts are used to communicate a state that affects a system, feature or page.</p>

        <h3>Simple Alerts</h3>
        <div class="alert-container">
            <div class="alert alert-primary" role="alert">
                Simple primary alert!
              </div>
              <div class="alert alert-secondary" role="alert">
                Simple secondary alert!
              </div>
              <div class="alert alert-success" role="alert">
                Simple success alert!
              </div>
              <div class="alert alert-danger" role="alert">
                Simple danger alert!
              </div>
              <div class="alert alert-warning" role="alert">
                Simple warning alert!
              </div>
              <div class="alert alert-info" role="alert">
                Simple info alert!
              </div>
        </div>
    </div>
</body>
</html>
